<template>
  <div class="hero is-medium is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Order foods from Diana's restaurant online</h1>
        
        <h2
          class="subtitle"
        >

        </h2>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    prods() {
      return this.$store.state.list;
    }
  }
};
</script>

<style lang="scss" scoped>
.hero {
  background: rgb(81, 186, 252);
  margin-bottom: 10px;
}
h1,
h2 {
  color: #fff;
}
</style>