<template>
  <div class="footer">
    <div class="columns container">
      <div class="column">
        <h1>Our address</h1>
        <p>1114 N Wells st</p>
        <p>Wisconsin, USA, 53147</p>
      </div>
      <div class="column">
        <h1>Our address</h1>
        <p>1114 N Wells st</p>
        <p>Wisconsin, USA, 53147</p>
      </div>
      <div class="column">
        <h1>Our address</h1>
        <p>1114 N Wells st</p>
        <p>Wisconsin, USA, 53147</p>
      </div>
      <div class="column">
        <h1>Our address</h1>
        <p>1114 N Wells st</p>
        <p>Wisconsin, USA, 53147</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "VmFooter"
};
</script>

<style lang="scss" scoped>
.footer {
  margin-top: 50px;
  background: #b9e2fc;
  color: black;
}

.column {
  font-size: 24px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
</style>
